@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;300;400;500;600;900&display=swap');
:root{
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 40%, 89%);
    --blue: hsl(228, 57%, 57%);
    --dark-blue: hsl(248, 100%, 26%);
}


*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body{
    text-size-adjust: none;
    --webkit-text-size-adjust: none;
    background-color: var(--light-gray);
    font-size: 15px;
    display: grid;
    min-height: 100%;
    justify-content: center;
}

img{
    max-width: 100%;
    height: auto;
    border-radius: 0.68rem;
}

main{
    background-color: var(--white);
    max-width: 320px;
    padding: 1.07rem;
    border-radius: 1.5rem;
    box-shadow: 0 1rem 1.3rem hsla(0, 0%, 0%, 0.05);
    text-align: center;
    margin: 1.075rem;
}

h1{
    font-size: 1.4rem;
    line-height: 1;
    margin: 1.2rem;
    color: var(--dark-blue);
    font-weight: 900;
}

p{
    line-height: 1.2;
    color: var(--blue);
    margin: 1.08rem;
    font-weight: 300;
}

